/* 共通全ページのコンテナのサイズ（ピクセル指定）*/
#container {
  width: 1000px;
  margin: 200px;
  padding: 0;
}



/* <p>タグで記述したフォントの大きさと色*/
p {
font-size: 15px;
font-cloer:#990000;
}



/* <h1>タグで記述したフォントの大きさと色*/
h1 {
font-cloer:#990000;
text-align:center;
}



/* 木目部分の背景色*/
.backimg {
background-color:#??????;
}



/* ヘッダー画像のサイズ*/
.header {
height: 150px;
width: 100%;
background-image: url(#######)
}


/* フッター画像のサイズ*/
.footer {
height: 200px;
width: 100%;
background-image: url(#######)
}






